@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #13151a 0%, #2d3748 100%);
  color: #fff;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
